<!-- ==================== counter section Start Here ==================== -->
<section class="counter-section py-120 reveal">
    <div class="container">
        <div class="row items g-4 text-center">
            <div class="col-lg-3 col-sm-6 ">
                <div class="counter-box">
                    
                        <span class="counter-icon">
                            <i class="fa-solid fa-user-plus"></i>
                        </span>
                    
                    <div class="counter-content">
                        <h1 class="count" >48</h1>
                        <p>Team member</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 ">
                <div class="counter-box"> 
                 
                    <span class="counter-icon">
                        <i class="fa-solid fa-list-check"></i>
                    </span>
                   
                    <div class="counter-content">
                        <h1 class="count" >96</h1>
                        <p>Complete project</p>
                    </div> 
                       
                </div>
                
            </div>

            <div class="col-lg-3 col-sm-6 ">
                <div class="counter-box">
                    
                        <span class="counter-icon">
                            <i class="fa-solid fa-award"></i>
                        </span>
                  
                    <div class="counter-content">
                        <h1 class="count" >70</h1>
                        <p>Winning award</p>
                    </div>
                    
                </div>
                
            </div>

            <div class="col-lg-3 col-sm-6 ">
                <div class="counter-box">
                    
                        <span class="counter-icon">
                            <i class="fa-solid fa-road"></i>
                        </span>
                    
                    <div class="counter-content">
                          <h1 class="count" > 150</h1>
                        <p>Client review</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ==================== counter section End Here ==================== -->