<section class="faq-section py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left__content banner__content">
                    <span class="subtitle">// SOME FAQ'S</span>
                    <h2>
                        Creating Digital <span>Masterpieces</span>
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
                <div>
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          What service do you offer ?
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          How is you qa team ?
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          How long dose it take for you to complete a project?
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree1">
                          How long dose it take for you to complete a project?
                        </button>
                      </h2>
                      <div id="flush-collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree2" aria-expanded="false" aria-controls="flush-collapseThree1">
                          How long dose it take for you to complete a project?
                        </button>
                      </h2>
                      <div id="flush-collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-lg-6 ">
                <div class="faq-rightContent__wraper">
                    <div class="img-content">
                        <img decoding="async" width="550" height="580" src="https://agiletechwp.wowtheme7.com/wp-content/uploads/2023/02/4.png" class="attachment-large size-large wp-image-189" alt="" loading="lazy" srcset="https://agiletechwp.wowtheme7.com/wp-content/uploads/2023/02/4.png 550w, https://agiletechwp.wowtheme7.com/wp-content/uploads/2023/02/4-284x300.png 284w" sizes="(max-width: 550px) 100vw, 550px">															
                    </div>
                    <div class="faq-animate">
                        <img class="top_image_bounce" decoding="async" src="https://agiletechwp.wowtheme7.com/wp-content/uploads/elementor/thumbs/5-q2tdtjc21fvxkzrf7udjlp2706p90rpsfepn3zbace.png" title="5" alt="5" loading="lazy">
                    </div>
                </div>  
            </div>
        </div>
        
    </div>
   
</section>