<!-- map section start -->
<section class="map-section pb-80">
    
    <div class="container py-5">
        <div class="row g-4 contact-infowraper">
           
            <div class="col-lg-4 col-md-6">
                <div class="info-box">
                    <span class="info-icon">
                        <i class="fa-solid fa-road"></i>
                    </span>
                    <div class="col-lg-4 info-content">
                        <P>Contacts us</P>
                        <P>88 01234 2345 12</P>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="info-box">
                    <span class="info-icon">
                        <i class="fa-solid fa-road"></i>
                    </span>
                    <div class="info-content">
                        <P>Our Email</P>
                        <P>wStacks@gmail.com</P>
                    </div>
                </div>
                
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="info-box">   
                    <span class="info-icon">
                        <i class="fa-solid fa-road"></i>
                    </span>
                    <div class="info-content">
                        <P>Location</P>
                        <P>Sector-11,Uttara</P>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <div >
        <div class="col-12 map-box">
            <iframe loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=13&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
        </div>
    </div>
</section>
<!-- map section end -->