<section class="pricing-section py-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="banner-left__content text-center">
                    <span class="subtitle">// Pricing Plan</span>
                    <h2>
                        Best Plane To Get Our Services &
                        <span>Technology</span> Solutions
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
     
            <div class="row pt-5 card_wraper" id="card_wraper">
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/software.png" >
                        </div>
                        <div class="pricing-content">
                            <div class="price">
                                <h3>$19</h3><sub>/Mo</sub>
                            </div>
                            <h2>Started</h2>
                            <div class="featire-key">
                                <ul >
                                    <li> Mobile App Development</li>
                                    <li> Branding & Identity</li>
                                    <li> Email Marketing & Automation</li>
                                    <li> E-commerce Solutions</li>
                                    <li> Social Media Management</li>
                                    <li> Video & Animation Production</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="py-3">
                            <button class="button">Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/strategy.png" >
                        </div>
                        <div class="pricing-content">
                            <div class="price">
                                <h3>$19</h3><sub>/mo</sub>
                            </div>
                           
                            <h2>Professional</h2>
                            <div class="featire-key">
                                <ul >
                                    <li> Mobile App Development</li>
                                    <li> Branding & Identity</li>
                                    <li> Email Marketing & Automation</li>
                                    <li> E-commerce Solutions</li>
                                    <li> Social Media Management</li>
                                    <li> Video & Animation Production</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="py-3">
                            <button class="button">Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/growth.png" >
                        </div>
                        <div class="pricing-content">
                            <div class="price">
                                <h3>$19</h3><sub>/mo</sub>
                            </div>
                            <h2>Enterprise</h2>
                            <div class="featire-key">
                                <ul >
                                    <li> Mobile App Development</li>
                                    <li> Branding & Identity</li>
                                    <li> Email Marketing & Automation</li>
                                    <li> E-commerce Solutions</li>
                                    <li> Social Media Management</li>
                                    <li> Video & Animation Production</li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                        <div class="py-3">
                            <button class="button">Get Started</button>
                        </div>
                        
                    </div>
                </div>
            </div>
      
    </div>
   
</section>