<section class="service-section py-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="banner__content text-center">
                    <span class="subtitle">// Our Service</span>
                    <h2>
                        Your Partner In Digital Success
                        <span>Technology</span> Solutions
                    </h2>
                    <p class="section-heading__desc mb-30">Furthermore, SMM provides valuable insights into customer behavior and preferences. With analytics tools provided by social media platforms, businesses can take.</p>
                </div>
            </div>
        </div>
     
            <div class="row pt-5 g-4 card_wraper" id="card_wraper">
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/software.png" >
                        </div>
                        <div class="content">
                            <h2>Web Development</h2>
                            <p>We offer industry standard web development. We offering our web development .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/software.png" >
                        </div>
                        <div class="content">
                            <h2>Custom Developemnt</h2>
                            <p>We are good at custom web development. We can develop as you need. Just let us know your idea, we will do the rest.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/software.png" >
                        </div>
                        <div class="content">
                            <h2>E-commerce Solutions</h2>
                            <p>E-commerce is simply is design iomyi is text Lorem Ipsum is simply is our busi Lorem is Ipsum is</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/software.png" >
                        </div>
                        <div class="content">
                            <h2>Mobile Apps</h2>
                            <p>Do you need android or iOS App? We will develop iOS and Android apps at very resonable price.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/strategy.png" >
                        </div>
                        <div class="content ">
                            <h2>UI/UX</h2>
                            <p>Our expert UX & UI Designers are working hard to extraordinary design that will make you satisfied and make users feel great!</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card_body">
                        <div class="card-img">
                            <img src="/assets/images/service/growth.png" >
                        </div>
                        <div class="content">
                            <h2>Web Design</h2>
                            <p>Frontend developers will write structured and documented codes to convert your ideas into reality.</p>
                        </div>

                    </div>
                </div>
            </div>
      
    </div>
   
</section>