.getintouch-section{
    margin-top: -100px;
    .getintouch-formCard{
        border-radius: 24px;
        width: 80%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 36px;
        margin: 40px 0px 0px -150px;
        background-color: rgba(255, 255, 255, 100);
        .card-heading{
            text-align: left;
            h2{
                font-size: 28px;
            }
        }
        .form-control{
            height: 60px;
        }
    }

}

@media only screen and (max-width: 937px) {
    .getintouch-section{
        margin-top: 0px;
        .formCard-wraper{
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            .getintouch-formCard{
                margin: 0;
            }
        }
       
    }
}


@media only screen and (max-width: 425px) {
    .getintouch-section{
        margin-top: 0px;
        .formCard-wraper{
            width: 100% !important;
            display: flex;
            justify-content:left;
            align-items: center;
            .getintouch-formCard{
                width: 100% !important;
            }
        }
       
    }
}