.header-area{
   background-color: hsl(var(--base)/.1) ;

   left: 0;
   right: 0;
   z-index: 1;
  .main-nav{
    display: flex;
    justify-content: space-between;
    padding: 34px 0px 34px 0px;

    .logo{
        
    }
    .nav{
       gap: 24px;
      
    }
  }
}

